nav(class=menuClasses[0])
    div(class=menuClasses[1])
        include logo
    div(class=menuClasses[2])
    each ul in menuClasses
        if ul === navUlClasses
            ul(class=ul)
            - for (var x = 0; x < 7; x++)
                li(class=menuClasses[4])
                    a(href="" class='22')= 1
    