nav(class=menuClasses[0])
    div(class=menuClasses[1])
        include logo
    div(class=menuClasses[2])
        each ul in menuClasses
            if ul === navUlClasses
                ul(class=ul)  
                    each linkText, el in menuTextNames
                        if el == 3
                            each href in menuLinksUrl
                                li(class=menuClasses[4])
                                    +aLink(href, menuClasses[5], linkText)                