- let logoPicture = true

//- folders
- let folderContent = true
- let folderDecor = true
- let folderIcons = true
- let folderSprite = true

- let folderContentName = 'content'
- let folderDecorName = 'decor'
- let folderIconsName = 'icons'
- let folderSpriteName = 'sprite'

//- types files
- let png = '.png'
- let jpg = '.jpg'
- let webp = '.webp'

- let typesWebp = 'image/webp'
- let logoPng = 'logoPng'
- let logoJpg = 'logoJpg'
- let logoWebp = 'logoWebp'

//- imagesNames
- let logoMainName = 'logo'

//- images
-
  let imagesFiles = [
    {
      logoPng: `images/${folderIconsName}/${logoMainName}${png} 1x, images/${folderIconsName}/${logoMainName}${png} 2x,`,
      logoJpg: `images/${folderIconsName}/${logoMainName}${jpg} 1x, images/${folderIconsName}/${logoMainName}${jpg} 2x,`,
      logoWebp: `images/${folderIconsName}/${logoMainName}${webp} 1x, images/${folderIconsName}/${logoMainName}${webp} 2x,`,
      logoJpgIMG: `images/${folderIconsName}/${logoMainName}${png} 1x, images/${folderIconsName}/${logoMainName}${png}} 2x,`,
      logoJpgIMGMin: `images/${folderIconsName}/${logoMainName}${png}`,
      alt: 'EaseWeb, сайты, которые продают',
    }
  ]

//- media
-
  let mediaArr = [
    'min-width: 768px',
    'min-width: 1024px',
    'min-width: 1440px',
  ]