mixin picture(idImg, className, ...source)
    for logos in imagesFiles
        picture
            source(type=typesPng media=mediaArr[0] srcset=logos.logoPng)
            source(type=typesJpg media=mediaArr[1] srcset=logos.logoJpg)
            source(type=typesWebp media=mediaArr[2] srcset=logos.logoWebp)
            img(src=logos.logoJpgIMGMin srcset=logos.logoJpgIMG alt=logos.alt)

mixin icon(id, className, alt, media)
    picture
        source(type, media, srcset)
        source(type, media, srcset)
        source(type, media, srcset)
        img(id, src, srcset,alt)